body {
    width: 431px;
    height: 1200px;
    background-image: url(https://www.shutterstock.com/image-photo/grey-gradient-grain-texture-background-600nw-2621868117.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

a{
    text-decoration: none;
    color: rgb(255, 0, 242);
}

.cabecalho {
    background-color: black;
    color: rgb(235, 109, 235);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 37px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#titulo {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: -4px;
    font-size: xx-large;
}

.paragrafo{
   text-align: center;
   margin-left: 3px;
}


.mulheres {
    border-radius: 50%;
    width: 338px;
    height: 338px;
    padding: 21px;
    margin-left: 28px;
}

nav {}

li {
   display: inline-block;
   text-decoration: none;
}

li a {
    font-size: 25px;
    text-decoration: none;
    margin: 202px;
    color: white;
}

button {
    width: 250px;
    align-items: center;
    border-radius: 20px;
    width: 200px;
    height: 36px;
    border-style: none;
    margin-left: 119px;
    margin-top: 36px;
    box-shadow: 0 20px 30px black;
}

.botao{
    border-radius: 118px;
    width: 192px;
    height: 197px;
    display: flex;
    margin-left: 128px;
}

.botao:hover{
    
    box-shadow: 0 10px 20px black;
}