body {
    background-color: rgb(255, 237, 177);

}

.fundo{
    background-size: cover;
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-de-textura-de-tinta-marmorizada-liquida-textura-abstrata-de-pintura-fluida-papel-de-parede-com-mistura-intensiva-de-cores_1258-82946.jpg?semt=ais_hybrid&w=740&q=80);
}

.cabecalho {
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#titulo {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {}

.mulheres {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    padding: 20px;
}

nav {}

li {
   display: inline-block;
}

li a {
    font-size: 30px;
    text-decoration: none;
    margin: 180px;
}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);

}