body {
    background-color: rgb(212, 212, 212);
    background-image: url(https://www.shutterstock.com/image-photo/grey-gradient-grain-texture-background-600nw-2621868117.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}



.cabecalho {
    background-color: black;
    color: rgb(235, 109, 235);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 37px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#titulo {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.paragrafo{
   justify-content: center;
}


.mulheres {
    border-radius: 50%;
    width: 370px;
    height: 370px;
    padding: 16px;
}

nav {}

li {
   display: inline-block;
}

li a {
    font-size: 25px;
    text-decoration: none;
    margin: 202px;
    color: white;
}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);

}

.botao{
    border-radius: 118px;
    width: 192px;
    height: 197px;
    display: flex;
    margin-left: 124px;
}